<% var title = "博客首页"; var layoutHead = { %>
<script type="text/javascript" src="/static/js/welcome.index.js"></script>
<% }; %>
<% layout("/common.html",{"layoutHead":layoutHead,"title":title}){ %>
<section class="ui-container">
    <div class="ui-tab">
        <ul class="ui-tab-nav ui-border-b">
            <li class="current">热门推荐</li>
            <li>Java</li>
            <li>Php</li>
            <li>C/C++</li>
            <li>Linux</li>
            <li>Go</li>
            <li>Kotlin</li>
            <li>Python</li>
            <li>Node.js</li>
        </ul>
    </div>
    <div class="ui-slider" id="slider">
        <ul class="ui-slider-content" style="width: 300%">
            <li><span style="background-image:url(http://placeholder.qiniudn.com/640x200)"></span></li>
            <li><span style="background-image:url(http://placeholder.qiniudn.com/640x200)"></span></li>
            <li><span style="background-image:url(http://placeholder.qiniudn.com/640x200)"></span></li>
        </ul>
    </div>
    <div class="ui-panel ui-panel-simple ui-border-tb">
        <h2 class="ui-arrowlink"><span>JAVA</span><span class="ui-panel-subtitle">热度:1920</span><span class="ui-panel-title-tips">更多</span></h2>
        <h2 class="ui-arrowlink"><span>PHP</span><span class="ui-panel-subtitle">热度:1920</span><span class="ui-panel-title-tips">更多</span></h2>
        <h2 class="ui-arrowlink"><span>C/C++</span><span class="ui-panel-subtitle">热度:1920</span><span class="ui-panel-title-tips">更多</span></h2>
        <h2 class="ui-arrowlink"><span>Linux</span><span class="ui-panel-subtitle">热度:1920</span><span class="ui-panel-title-tips">更多</span></h2>
    </div>
    <div class="ui-panel ui-panel-simple ui-border-tb">
        <h2 class="ui-arrowlink"><span>最近博文</span><span class="ui-panel-subtitle">最后刷新:5分钟前</span><span class="ui-panel-title-tips">更多</span></h2>
    </div>
    <div class="ui-list ui-border-tb">
        <li class="ui-border-t">
            <div class="ui-avatar">
                <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
            </div>
            <div class="ui-list-info">
                <h4 class="ui-nowrap">这是标题，加ui-nowrap可以超出长度截断</h4>
                <p class="ui-nowrap">这是内容，加ui-nowrap可以超出长度截断</p>
            </div>
        </li>
        <li class="ui-border-t">
            <div class="ui-avatar">
                <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
            </div>
            <div class="ui-list-info">
                <h4 class="ui-nowrap">这是标题，加ui-nowrap可以超出长度截断</h4>
                <p class="ui-nowrap">这是内容，加ui-nowrap可以超出长度截断</p>
            </div>
        </li>
        <li class="ui-border-t">
            <div class="ui-avatar">
                <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
            </div>
            <div class="ui-list-info">
                <h4 class="ui-nowrap">这是标题，加ui-nowrap可以超出长度截断</h4>
                <p class="ui-nowrap">这是内容，加ui-nowrap可以超出长度截断</p>
            </div>
        </li>
        <li class="ui-border-t">
            <div class="ui-avatar">
                <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
            </div>
            <div class="ui-list-info">
                <h4 class="ui-nowrap">这是标题，加ui-nowrap可以超出长度截断</h4>
                <p class="ui-nowrap">这是内容，加ui-nowrap可以超出长度截断</p>
            </div>
        </li>
        <li class="ui-border-t">
            <div class="ui-avatar">
                <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
            </div>
            <div class="ui-list-info">
                <h4 class="ui-nowrap">这是标题，加ui-nowrap可以超出长度截断</h4>
                <p class="ui-nowrap">这是内容，加ui-nowrap可以超出长度截断</p>
            </div>
        </li>
        <li class="ui-border-t">
            <div class="ui-avatar">
                <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
            </div>
            <div class="ui-list-info">
                <h4 class="ui-nowrap">这是标题，加ui-nowrap可以超出长度截断</h4>
                <p class="ui-nowrap">这是内容，加ui-nowrap可以超出长度截断</p>
            </div>
        </li>
        <li class="ui-border-t">
            <div class="ui-avatar">
                <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
            </div>
            <div class="ui-list-info">
                <h4 class="ui-nowrap">这是标题，加ui-nowrap可以超出长度截断</h4>
                <p class="ui-nowrap">这是内容，加ui-nowrap可以超出长度截断</p>
            </div>
        </li>
        <li class="ui-border-t">
            <div class="ui-avatar">
                <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
            </div>
            <div class="ui-list-info">
                <h4 class="ui-nowrap">这是标题，加ui-nowrap可以超出长度截断</h4>
                <p class="ui-nowrap">这是内容，加ui-nowrap可以超出长度截断</p>
            </div>
        </li>
    </div>

</section>
<% }; %>

