<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.after10years.blog.mapper.ModuleMapper">

    <select id="getListByPid" resultType="com.after10years.blog.model.ModuleModel">
        SELECT moduleId,moduleName,uriRoute,img,pid,addTime
        FROM `blog_module`
        WHERE pid = #{pid}
        ORDER BY sort DESC ,moduleId ASC
    </select>

</mapper>